<mat-card id="card" class = "card">

	<mat-card-content>
    <h1 style="text-align: center;">¡Registrese!</h1>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>CORREO ELECTRÓNICO</mat-label>
        <input matInput placeholder="mail@mail.com" [(ngModel)]="email">
       <mat-icon matSuffix>
        alternate_email</mat-icon>
      </mat-form-field> 
    </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>CONTRASEÑA</mat-label>
          <input matInput placeholder="***********" [(ngModel)]="password">
         <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field> 
      </p>
    <BR>

      <button mat-raised-button  style="margin-right:5px; background-color: orange;" (click)="onSubmitRegister()">REGISTRAR</button>
  </mat-card-content>

</mat-card>