@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

img {
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
  }

  table {
    position: relative;
    width: 50%;
    font-family: 'Anton', sans-serif;
    font-size: 600px;
    left: 350px;
  }
  
  button{
      width: 100%;
  }
  .botonD
  {
    background-color: orange;
  }